*{
	margin:0;
	padding:0;
}
.main-body{
	height:65vh;
	width:40%;
	border:1px solid black;
	border-radius:8px;
	margin-top:9%;
	background-color:#5A5C5B;
}
.ab{
	height:70px;
	width:350px;
	border:1px solid black;
	border-radius:8px;
	margin-top:8%;
	background-color:white;
	text-align:center;
	font-size:30px;
}
.num{
	height:40px;
	width:80px;
	border:1px solid black;
	border-radius:8px;
	margin:1%;
	float:left;
	margin-left:45px;
	font-weight:bold;
	font-size:25px;
	background-color:white;
}
.num:hover{
	background-color:#E5E7E9;
}
.num1{
	height:40px;
	width:80px;
	border:1px solid black;
	border-radius:8px;
	margin:1%;
	float:left;
	font-weight:bold;
	background-color:white;
	font-size:25px;
}
.num1:hover{
	background-color:#E5E7E9;
}
